<div class="row justify-content-center">
	<div class="alert alert-success" role="alert">
		<ul>
			@if (this.TempData["SuccessMessage"] is not null) {
				<li>@this.TempData["SuccessMessage"]</li>
			}
			@if (this.TempData["SuccessMessages"] is not null) {
				@foreach (var success in (IEnumerable<string>)this.TempData["SuccessMessages"]!) {
					<li>@success</li>
				}
			}
			@if (this.ViewBag.SuccessMessage is not null) {
				<li>@this.ViewBag.SuccessMessage</li>
			}
		</ul>
	</div>
</div>
<div class="row justify-content-center">
	<div class="alert alert-warning" role="alert">
		<ul>
			@if (this.TempData["WarningMessage"] is not null) {
				<li>@this.TempData["WarningMessage"]</li>
			}
			@if (this.TempData["WarningMessages"] is not null) {
				@foreach (var warning in (IEnumerable<string>)this.TempData["WarningMessages"]!) {
					<li>@warning</li>
				}
			}
			@if (this.ViewBag.WarningMessage is not null) {
				<li>@this.ViewBag.WarningMessage</li>
			}
		</ul>
	</div>
</div>
<div class="row justify-content-center">
	<div class="alert alert-danger" role="alert">
		<ul>
			@if (this.TempData["DangerMessage"] is not null) {
				<li>@this.TempData["DangerMessage"]</li>
			}
			@if (this.TempData["DangerMessages"] is not null) {
				@foreach (var danger in (IEnumerable<string>)this.TempData["DangerMessages"]!) {
					<li>@danger</li>
				}
			}
			@if (this.ViewBag.DangerMessage is not null) {
				<li>@this.ViewBag.DangerMessage</li>
			}
		</ul>
	</div>
</div>