@{
	this.ViewData["Title"] = "Editar estudiante";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">
					@this.ViewData["Title"]
				</div>
				<div class="card-body">
					@using (this.Html.BeginForm("EditStudent", "Account", FormMethod.Post)) {
						@this.Html.AntiForgeryToken()
						@this.Html.Hidden("id", (string)this.ViewBag.Id)
						<div class="form-group mb-3">
							@this.Html.Label("firstName", "Nombre", new { @class = "form-label" })
							@this.Html.TextBox("firstName", (string)this.ViewBag.FirstName, new { @class = "form-control" })
						</div>
						<div class="form-group mb-3">
							@this.Html.Label("lastName", "Apellido", new { @class = "form-label" })
							@this.Html.TextBox("lastName", (string)this.ViewBag.LastName, new { @class = "form-control" })
						</div>
						<div class="form-group mb-3">
							@this.Html.Label("rut", "RUT", new { @class = "form-label" })
							@this.Html.TextBox("rut", (string)this.ViewBag.Rut, new { @class = "form-control" })
						</div>
						<div class="form-group mb-3">
							@this.Html.Label("email", "E-mail", new { @class = "form-label" })
							@this.Html.TextBox("email", (string)this.ViewBag.Email, new { @class = "form-control" })
						</div>
						<hr />
						<p><strong>Perfil</strong></p>
						<div class="form-group mb-3">
							@this.Html.Label("universityId", "Número de matrícula", new { @class = "form-label" })
							@this.Html.TextBox("universityId", (string)this.ViewBag.UniversityId, new { @class = "form-control" })
						</div>
						<div class="form-group mb-3">
							@this.Html.Label("remainingCourses", "Cursos restantes", new { @class = "form-label" })
							@this.Html.TextArea("remainingCourses", (string)this.ViewBag.RemainingCourses, new { @class = "form-control" })
						</div>
						<div class="form-check mb-3">
							@this.Html.CheckBox("isDoingThePractice", (bool)this.ViewBag.IsDoingThePractice, new { @class = "form-check-input" })
							@this.Html.Label("isDoingThePractice", "¿Haciendo práctica?", new { @class = "form-check-label" })
						</div>
						<div class="form-check mb-3">
							@this.Html.CheckBox("isWorking", (bool)this.ViewBag.IsWorking, new { @class = "form-check-input" })
							@this.Html.Label("isWorking", "¿Trabajando?", new { @class = "form-check-label" })
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Cancelar", "Students", "Account", new { area = string.Empty }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-warning">Editar</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$('button').on('click', function (e) {
			e.preventDefault();
			if (!$('form')[0].reportValidity()) {
				return;
			}
			Swal.fire({
				title: '¿Estás seguro?',
				text: "¿Deseas editar al(la) estudiante?",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Sí',
				cancelButtonText: 'Cancelar',
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {
					$('form').submit();
				}
			});
		});
	</script>
}