@{
	this.ViewData["Title"] = "Crear memoria";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					@using (this.Html.BeginForm("Create", "Memoir", new { area = string.Empty })) {
						@this.Html.AntiForgeryToken()
						<div class="row">
							<div class="col">
								<div class="form-group mb-3">
									@this.Html.Label("title", "Título", new { @class = "form-label" })
									@this.Html.TextBox("title", null, new { @class = "form-control", required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.Label("description", "Descripción", new { @class = "form-label" })
									@this.Html.TextArea("description", null, new { @class = "form-control", required = "required" })
								</div>
								@if (this.User.IsInRole("IccRegular")) {
									
								} else if (this.User.IsInRole("IccGuide")) {
									@this.Html.Label("requirements", "Requisitos", new { @class = "form-label" })
									@this.Html.TextArea("requirements", null, new { @class = "form-control" })
								}
							</div>
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Cancelar", "Index", "Memoir", new { area = string.Empty }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-success">Crear</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>